.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-toggle-container {
    /* border: 1px solid red; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-icon {
    font-size: 1.75rem;
}

.mat-form-field {
    width: 25%;
}

.caret-left {
    transform: scaleX(-1);
}