<mat-accordion>
    <mat-expansion-panel *ngFor="let approver of approvers">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{approver.approver.username}}
            </mat-panel-title>
            <mat-panel-description>
                        <mat-icon>person</mat-icon>
                        <i>{{approver.approvees.length}}</i>
                        <span> &nbsp; approvees</span>
                        <!-- <mat-icon>person_outline</mat-icon> -->
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Expansion Content -->
        <h3>{{approver.approver.firstname}} {{approver.approver.lastname}}'s Approvees:</h3>
        <app-approvee-list [approvees]="approver.approvees"></app-approvee-list>
    </mat-expansion-panel>
</mat-accordion>  

