<mat-toolbar color="primary">
  <!-- Logo -->
  <mat-icon>more_time</mat-icon>
  <span color="accent">timesheet tracker</span>
  
  <!-- Pages -->
  <nav color="primary">
    <a mat-button 
       class="nav-link" 
       *ngFor="let page of pages" 
       routerLink={{page}} 
       routerLinkActive="active">
    {{page}}
    </a> 
  </nav>

  <span class="spacer"></span>
  
  <!-- Right Side -->
  <app-theme-selector></app-theme-selector>
  <app-logout-button></app-logout-button>

</mat-toolbar>
